{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es6",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "endOfLine": "auto"
      }
    ]
  }
}
